.post-votes-value-loading {
    width: 2ch !important;
}

.post {
    display: flex;
    background: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    margin-bottom: 36px;
    border-radius: 4px;
    padding: 24px;
    transition: box-shadow 0.1s ease-in;
    color: #717171;
}
